.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    margin: 0 3em 0 3em;
}
.section-title-contact {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    font-weight: bolder;
}

.contact-left, .contact-right {
    width: 45%;
}

.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form > input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}
.contact-form > button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.whatsapp-btn {
    display: flex;
    align-items: center;
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}
.fa-whatsapp {
    background: green;
    font-size: 30px;
    border-radius: 15px;
    width: 35px;
    height: 32px;


}

/* Add some spacing between the icon and the text */
.whatsapp-btn i {
    margin-right: 10px;
}

/* Remove focus outline for cleaner appearance; but be careful with accessibility concerns */
.whatsapp-btn:focus {
    outline: none;
}

.error {
    color: red;
}
